[Desktop Entry]
Version=1.0
Type=Application
Name=try_robocup_jr
Comment=
Exec=/home/user/try-a-bot/try-robocup-jr/launch
Icon=/home/user/try-a-bot/try-robocup-jr/icon.png
Path=/home/user/try-a-bot/try-robocup-jr
Terminal=false
StartupNotify=false
