[Desktop Entry]
Version=1.0
Type=Application
Name=try_an_epuck
Comment=
Exec=/home/user/try-a-bot/try-an-epuck/launch
Icon=/home/user/try-a-bot/try-an-epuck/icon.png
Path=/home/user/try-a-bot/try-an-epuck
Terminal=false
StartupNotify=false
